/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */


.smart-style-5 #header {
    background: black !important;
}

#logo img {
    width: 190px;
    margin-top: -10px;
}

#left-panel a {
    cursor: pointer;
}

.text-black {
    color: black;
}

.width-full {
    width: 100%;
}

.margin-auto {
    margin: auto;
}
/*----------------------------------------------------------------------------*/
.height-300px {
    height: 300px!important;
}


.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    opacity: 0.3;
}
.back-to-top:hover {
    opacity: 1;
}
.back-to-top:active {
    opacity: 1;
    position: fixed;
    top: auto;
    left: auto;
    right: 30px;
    bottom: 30px;
}

/*----------------------------------------------------------------------------*/
.title-in-table {
    border-right: 2px solid rgba(255, 255, 255, 0.2);
}

#inventory-map-canvas {
    height: 500px;
}

.fixed-main-search-summary {
    position: fixed;
    top: 10px;
}

