<div class="container-fluid">
    <div class="row margin-bottom-10">
        <div class="col-xs-12">
            <export-button></export-button>
        </div>
    </div>
    <section id="widget-grid-cross-channels-landscape-comparison" widget-grid>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div jarvis-widget data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" role="widget">
                    <header>
                        <h2>
                            Instagram Total page follows
                            <a><i class="fa fa-info-circle"></i></a>
                            ({{vm.sdate}} ~ {{vm.edate}})
                        </h2>
                        <div class="widget-toolbar hidden-phone" role="menu">
                            <export-button class="btn-group-xs margin-top-5"></export-button>
                        </div>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <p><i class="fa fa-trophy"></i> <a href="#/cross_channels">Tesla Mortos</a> is above average for Followers, ranking 9th of 26 companies in your landscape. Keep chasing the leader, Mercedes-Benz, with their 1,378,781 Followers</p>
                                        <div>

                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div highchart data="vm.data1"></div>
                                    </div>
                                    <div class="col-xs-1">
                                        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">View All</button>
                                    </div>
                                    <div class="col-xs-12 padding-top-10 margin-top-10 text-right">
                                        <button class="btn btn-primary">View Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div jarvis-widget data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" role="widget">
                    <header>
                        <h2>
                            Activity & Engagement
                            <a><i class="fa fa-info-circle"></i></a>
                            ({{vm.sdate}} ~ {{vm.edate}})
                        </h2>
                        <div class="widget-toolbar hidden-phone" role="menu">
                            <export-button class="btn-group-xs margin-top-5"></export-button>
                        </div>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <p><i class="fa fa-trophy"></i> <a href="#/cross_channels">Tesla Motors</a> was above average for Instagram interactions, ranking 6th of 26. Keep chasing the leader, Ferrari, with their landscape leading 83,241 interactions.</p>
                                        <div>

                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div highchart data="vm.data1"></div>
                                    </div>
                                    <div class="col-xs-1">
                                        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">View All</button>
                                    </div>
                                    <div class="col-xs-12 padding-top-10 margin-top-10 text-right">
                                        <button class="btn btn-primary">View Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Social Audience ({{vm.sdate}} ~ {{vm.edate}})</h4>
            </div>
            <div class="modal-body">
                <div highchart data="vm.data2"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>