<div class="container-fluid">
    <section id="widget-grid-facebook-metric" widget-grid>

        <!-- row -->
        <div class="row">
            <article class="col-sm-12 col-md-6 col-lg-6">
                <div jarvis-widget data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Facebook Page Likes</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div highchart id="container1" data="vm.data11"></div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col-sm-12 col-md-6 col-lg-6">
                <div jarvis-widget data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Facebook Page Likes, % Change</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div highchart id="container2" data="vm.data12"></div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="row">
            <article class="col-sm-12 col-md-6 col-lg-6">
                <div jarvis-widget data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Average Facebook Posts per Day</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div highchart id="container3" data="vm.data13"></div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col-sm-12 col-md-6 col-lg-6">
                <div jarvis-widget data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Facebook Average Engagement Rate per Post</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div highchart id="container4" data="vm.data14"></div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="row">
            <article class="col-sm-12 col-md-6 col-lg-6">
                <div jarvis-widget data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Facebook Post Engagement Rate, by Day</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div highchart id="container5" data="vm.data15"></div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col-sm-12 col-md-6 col-lg-6">
                <div jarvis-widget data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Facebook Posts, by Day</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div highchart id="container6" data="vm.data16"></div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="row">
            <article class="col-sm-12 col-md-6 col-lg-6">
                <div jarvis-widget data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Facebook Post Engagement Total</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div highchart id="container7" data="vm.data17"></div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col-sm-12 col-md-6 col-lg-6">
                <div jarvis-widget data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Facebook Average Engagement Total per Post</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div highchart id="container8" data="vm.data18"></div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div jarvis-widget data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Facebook Posts vs. Facebook Average Engagement Total per Post</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div highchart id="container9" data="vm.data19"></div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>