<div class="container-fluid">
    <section id="widget-grid-facebook-overview" widget-grid>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div jarvis-widget data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Facebook Total page follows</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-5">
                                        <p><i class="fa fa-like"></i> Tesla Motors is above average for Followers, ranking 9th 0f 26 companies in your landscape. Keep chasing the leader, Mercedes-Benz, with their 1,378,781 Followers</p>
                                        <div>
                                            <!--<button class="btn btn-primary">Additional Social Audience Metrics</button>-->
                                            <!--<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">View All</button>-->
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-7">
                                        <div highchart data="vm.data1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div jarvis-widget data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Activity & Engagement</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4">
                                        <p><i class="fa fa-like"></i> Tesla Motors was above average for Facebook interactions, ranking 6th of 26. Keep chasing the leader, Ferrari, with their landscape leading 83,241 interactions.</p>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <div highchart data="vm.data2"></div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <div highchart data="vm.data2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
