<div class="container-fluid">
    <section id="widget-grid-cross-metric" widget-grid>
        <div class="row">
            <article class="col-sm-12 col-md-6 col-lg-6">
                <div jarvis-widget data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Social Audience</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div highchart data="vm.data1"></div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col-sm-12 col-md-6 col-lg-6">
                <div jarvis-widget data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Social Audience, % Change</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div highchart data="vm.data1"></div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="row">
            <article class="col-sm-12 col-md-6 col-lg-6">
                <div jarvis-widget data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Social Activity</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div highchart data="vm.data1"></div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col-sm-12 col-md-6 col-lg-6">
                <div jarvis-widget data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Social Engagement</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div highchart data="vm.data1"></div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="row">
            <article class="col-sm-12 col-md-6 col-lg-6">
                <div jarvis-widget data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Average Engagement Rate per Post</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div highchart data="vm.data1"></div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col-sm-12 col-md-6 col-lg-6">
                <div jarvis-widget data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Social Applause Engagement</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div highchart data="vm.data1"></div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="row">
            <article class="col-sm-12 col-md-6 col-lg-6">
                <div jarvis-widget data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Social Conversation Engagement</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div highchart data="vm.data1"></div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col-sm-12 col-md-6 col-lg-6">
                <div jarvis-widget data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Social Amplification Engagement</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div highchart data="vm.data1"></div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div jarvis-widget data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Top Content on Cross Channel During Jun 1 2015 - Jun 30 2015 for UberEATS</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <table class="table table-responsive">
                                <thead>
                                <tr ng-repeat="r in [1,1,1] track by $index">
                                    <td>
                                        <img ng-src="./styles/img/temp/1.jpg">
                                    </td>
                                    <td>
                                        <h4>Munchery</h4>
                                        <p>Jun 15, 2015</p>
                                        <p>#MuncheryMonday means menu browsing! Options sure to make you hungry await. cred@asideofsweet</p>
                                    </td>
                                    <td>
                                        <img class="image-width-120" ng-src="./styles/img/superbox/superbox-thumb-17.jpg">
                                    </td>
                                    <td>
                                        <p>ENGAGEMENT RATE</p>
                                        <h3>3.40%</h3>
                                    </td>
                                    <td>
                                        <p>ENGAGEMENT TOTAL</p>
                                        <h3>355</h3>
                                    </td>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>

</div>