<div class="container-fluid">
    <div class="row margin-bottom-10">
        <div class="col-xs-10">
            <div class="btn-group dropdown" data-dropdown>
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Twitter <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="s in vm.socialPages">
                        <a href-void ng-click="vm.openPage(s.url)">{{s.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="btn-group dropdown" data-dropdown>
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    All <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href-void>Only Eat24</a></li>
                    <li><a href-void>Competitor1</a></li>
                    <li><a href-void>Competitor2</a></li>
                    <li><a href-void>Competitor3</a></li>
                    <li><a href-void>Competitor4</a></li>
                    <li><a href-void>Competitor5</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <ul id="crossChannelTab" class="nav nav-tabs bordered">
                <li class="active">
                    <a href="#overview_pane" data-toggle="tab" ng-click="vm.selectTab(0)">Overview</a>
                </li>
                <li class="">
                    <a href="#detailed_metric_pane" data-toggle="tab" ng-click="vm.selectTab(1)">Detailed Metric</a>
                </li>
                <li class="">
                    <a href="#top_content_pane" data-toggle="tab" ng-click="vm.selectTab(2)">Top Content</a>
                </li>
                <li class="">
                    <a href="#by_company_pane" data-toggle="tab" ng-click="vm.selectTab(3)">Mentions by Company</a>
                </li>
                <li class="">
                    <a href="#mentioners_pane" data-toggle="tab" ng-click="vm.selectTab(4)">Mentioners</a>
                </li>
                <li class="">
                    <a href="#mentions_pane" data-toggle="tab" ng-click="vm.selectTab(5)">Mentions</a>
                </li>
            </ul>

            <div id="crossChannelTabContent" class="tab-content padding-10">
                <div class="tab-pane fade in active" id="overview_pane">
                    <div ng-include src="'./app/biz/views/twitter-templates/overview.html'"></div>
                </div>
                <div class="tab-pane fade" id="detailed_metric_pane">
                    <div ng-include src="'./app/biz/views/twitter-templates/detailed-metric.html'"></div>
                </div>
                <div class="tab-pane fade" id="top_content_pane">
                    <div ng-include src="'./app/biz/views/twitter-templates/top-content.html'"></div>
                </div>
                <div class="tab-pane fade" id="by_company_pane">
                    <div ng-include src="'./app/biz/views/twitter-templates/by-company.html'"></div>
                </div>
                <div class="tab-pane fade" id="mentioners_pane">
                    <div ng-include src="'./app/biz/views/twitter-templates/mentioners.html'"></div>
                </div>
                <div class="tab-pane fade" id="mentions_pane">
                    <div ng-include src="'./app/biz/views/twitter-templates/mentions.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>