<div class="container-fluid">
    <section id="widget-grid-cross-channels-metric" widget-grid>
        <div class="row">
            <article class="col-sm-12 col-md-6 col-lg-6">
                <div jarvis-widget data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" role="widget">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Pinterest Audience, with % Change</h2>
                        <div class="widget-toolbar hidden-phone" role="menu">
                            <export-button class="btn-group-xs margin-top-5"></export-button>
                            <div class="btn-group dropdown float-right btn-group-xs margin-top-5 margin-right-5">
                                <button class="btn btn-primary dropdown-toggle" onclick="vm.go('dashboard')">Save to Favorites</button>
                            </div>
                        </div>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div class="container-fluid">
                                <div class="row margin-bottom-20">
                                    <div class="col-xs-12">
                                        <div highchart data="vm.data11"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-right">
                                        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">View More</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <article class="col-sm-12 col-md-6 col-lg-6">
                <div jarvis-widget data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" role="widget">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Pinterest Posts</h2>
                        <div class="widget-toolbar hidden-phone" role="menu">
                            <export-button class="btn-group-xs margin-top-5"></export-button>
                            <div class="btn-group dropdown float-right btn-group-xs margin-top-5 margin-right-5">
                                <button class="btn btn-primary dropdown-toggle" onclick="vm.go('dashboard')">Save to Favorites</button>
                            </div>
                        </div>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div class="container-fluid">
                                <div class="row margin-bottom-20">
                                    <div class="col-xs-12">
                                        <div highchart data="vm.data12"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-right">
                                        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">View More</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <article class="col-sm-12 col-md-6 col-lg-6">
                <div jarvis-widget data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" role="widget">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Pinterest Engagement Total</h2>
                        <div class="widget-toolbar hidden-phone" role="menu">
                            <export-button class="btn-group-xs margin-top-5"></export-button>
                            <div class="btn-group dropdown float-right btn-group-xs margin-top-5 margin-right-5">
                                <button class="btn btn-primary dropdown-toggle" onclick="vm.go('dashboard')">Save to Favorites</button>
                            </div>
                        </div>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div class="container-fluid">
                                <div class="row margin-bottom-20">
                                    <div class="col-xs-12">
                                        <div highchart data="vm.data13"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-right">
                                        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">View More</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <article class="col-sm-12 col-md-6 col-lg-6">
                <div jarvis-widget data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" role="widget">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Pinterest Engagement Rate / Post</h2>
                        <div class="widget-toolbar hidden-phone" role="menu">
                            <export-button class="btn-group-xs margin-top-5"></export-button>
                            <div class="btn-group dropdown float-right btn-group-xs margin-top-5 margin-right-5">
                                <button class="btn btn-primary dropdown-toggle" onclick="vm.go('dashboard')">Save to Favorites</button>
                            </div>
                        </div>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div class="container-fluid">
                                <div class="row margin-bottom-20">
                                    <div class="col-xs-12">
                                        <div highchart data="vm.data14"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-right">
                                        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">View More</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <article class="col-sm-12 col-md-6 col-lg-6">
                <div jarvis-widget data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" role="widget">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Pinterest Applause</h2>
                        <div class="widget-toolbar hidden-phone" role="menu">
                            <export-button class="btn-group-xs margin-top-5"></export-button>
                            <div class="btn-group dropdown float-right btn-group-xs margin-top-5 margin-right-5">
                                <button class="btn btn-primary dropdown-toggle" onclick="vm.go('dashboard')">Save to Favorites</button>
                            </div>
                        </div>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div class="container-fluid">
                                <div class="row margin-bottom-20">
                                    <div class="col-xs-12">
                                        <div highchart data="vm.data15"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-right">
                                        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">View More</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <article class="col-sm-12 col-md-6 col-lg-6">
                <div jarvis-widget data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" role="widget">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Pinterest Conversation</h2>
                        <div class="widget-toolbar hidden-phone" role="menu">
                            <export-button class="btn-group-xs margin-top-5"></export-button>
                            <div class="btn-group dropdown float-right btn-group-xs margin-top-5 margin-right-5">
                                <button class="btn btn-primary dropdown-toggle" onclick="vm.go('dashboard')">Save to Favorites</button>
                            </div>
                        </div>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div class="container-fluid">
                                <div class="row margin-bottom-20">
                                    <div class="col-xs-12">
                                        <div highchart data="vm.data16"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-right">
                                        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">View More</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <article class="col-sm-12 col-md-6 col-lg-6">
                <div jarvis-widget data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" role="widget">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Pinterest Amplification</h2>
                        <div class="widget-toolbar hidden-phone" role="menu">
                            <export-button class="btn-group-xs margin-top-5"></export-button>
                            <div class="btn-group dropdown float-right btn-group-xs margin-top-5 margin-right-5">
                                <button class="btn btn-primary dropdown-toggle" onclick="vm.go('dashboard')">Save to Favorites</button>
                            </div>
                        </div>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div class="container-fluid">
                                <div class="row margin-bottom-20">
                                    <div class="col-xs-12">
                                        <div highchart data="vm.data17"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-right">
                                        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">View More</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Top Content on Twitter during Jun 21 2015 for Eat24</h4>
            </div>
            <div class="modal-body table-responsive">
                <table class="table">
                    <thead>
                    <tr ng-repeat="r in [1,1,1] track by $index">
                        <td>
                            <img ng-src="./styles/img/temp/1.jpg">
                        </td>
                        <td>
                            <h4>Eat24(@EAT24)</h4>
                            <p>Jun 15, 2015</p>
                            <p>@Athousandmorgie @tyleroakley @gracehelbig @mametown Use the code 'conair' for delicious savings. Or try the code 'rambo' to fight hunger</p>
                            <a class="cursor-pointer">
                                <i class="fa fa-link"></i> View on Twitter
                            </a>
                        </td>
                        <td>
                            <p>ENGAGEMENT RATE 0</p>
                            <h3>0.06%</h3>
                            <p><i class="fa fa-info-circle"></i> This is a reply</p>
                        </td>
                        <td>
                            <p>ENGAGEMENT TOTAL</p>
                            <h3>27</h3>
                        </td>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>