<div id="content" class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>CHANGE BILLING INFORMATION</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div jarvis-widget data-widget-color="blueDark" id="billing-information" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                    <h2>Enter your billing information - SECURE <i class="fa fa-lock"></i></h2>
                </header>
                <div class="padding-0">
                    <div class="widget-body">
                        asdf
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div jarvis-widget data-widget-color="blueDark" id="billing-address" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                    <h2>Enter your billing address</h2>
                </header>
                <div class="padding-0">
                    <div class="widget-body">
                        asdf
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div jarvis-widget data-widget-color="blueDark" id="vat-details" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                    <h2>VAT details</h2>
                </header>
                <div class="padding-0">
                    <div class="widget-body">
                        asdf
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>