<div id="content" class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>EDIT PROFILE</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="well">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <span class="display-inline-block margin-top-5">
                                <i class="fa fa-info-circle"></i> Registration date: 01 April 2017
                            </span>
                        </div>
                        <div class="col-sm-6 text-right">
                            <span class="display-inline-block margin-top-5 margin-right-5">
                                Form of payment: <strong>Visa ... XXX</strong>
                            </span>
                            <button class="btn btn-default float-right" ng-click="vm.go('changeBilling')">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 padding-bottom-10">
            <input type="email" class="form-control" placeholder="mourad@spotranking.com">
        </div>
        <div class="col-sm-6 padding-bottom-10">
            <input type="text" class="form-control" placeholder="Company">
        </div>
        <div class="col-sm-6 padding-bottom-10">
            <input type="text" class="form-control" placeholder="Mourad Chelbi">
        </div>
        <div class="col-sm-6 padding-bottom-10">
            <input type="text" class="form-control" placeholder="Position">
        </div>
        <div class="col-sm-6 padding-bottom-10">
            <input type="text" class="form-control" placeholder="Phone">
        </div>
        <div class="col-sm-6 padding-bottom-10">
            <select class="form-control">
                <option>Country</option>
                <option>Arab Elimirate</option>
                <option>United States</option>
                <option>Turkey</option>
                <option>Germany</option>
                <option>...</option>
            </select>
        </div>
        <div class="col-sm-6 padding-bottom-10">
            <select class="form-control">
                <option>Timezone</option>
                <option>(UTC +02:00) UTC</option>
                <option>(UTC +02:00) UTC</option>
                <option>(UTC +02:00) UTC</option>
                <option>(UTC +02:00) UTC</option>
            </select>
        </div>
        <div class="col-sm-6 padding-bottom-10">
            <select class="form-control">
                <option>Role</option>
                <option>Administrator</option>
                <option>Normal User</option>
            </select>
        </div>
        <div class="col-sm-6 padding-bottom-10">
            Users(1/1)
        </div>
        <div class="col-sm-6 padding-bottom-10">
            <button class="btn btn-primary btn-block">Save</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>CHANGE PASSWORD</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 padding-bottom-10">
            <input type="password" class="form-control" placeholder="Old password">
        </div>
        <div class="col-sm-6 padding-bottom-10">
            <input type="password" class="form-control" placeholder="New password">
        </div>
        <div class="col-sm-6 col-sm-offset-6 padding-bottom-10">
            <input type="password" class="form-control" placeholder="Confirm password">
        </div>
        <div class="col-sm-6 col-sm-offset-6 padding-bottom-10">
            <button class="btn btn-primary btn-block">Save</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>BILLING INFORMATION</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 padding-bottom-10">
            <input type="password" class="form-control" placeholder="Business Name">
        </div>
        <div class="col-sm-6 padding-bottom-10">
            <input type="text" class="form-control" placeholder="Additional email">
        </div>
        <div class="col-sm-6 padding-bottom-10">
            <input type="text" class="form-control" placeholder="Additional email">
        </div>
        <div class="col-sm-6 padding-bottom-10">
            <input type="text" class="form-control" placeholder="Additional email">
        </div>
        <div class="col-sm-6 padding-bottom-10">
            <input type="text" class="form-control" placeholder="Additional email">
        </div>
        <div class="col-sm-6 padding-bottom-10">
            <input type="text" class="form-control" placeholder="Additional email">
        </div>
        <div class="col-sm-6 padding-bottom-10">
            <input type="text" class="form-control" placeholder="Additional email">
        </div>
        <div class="col-sm-6 padding-bottom-10">
            <input type="text" class="form-control" placeholder="Additional email">
        </div>
        <div class="col-sm-6 padding-bottom-10">
            <input type="text" class="form-control" placeholder="Additional email">
        </div>
        <div class="col-sm-6 padding-bottom-10">
            <select class="form-control">
                <option>Timezone</option>
                <option>(UTC +02:00) UTC</option>
                <option>(UTC +02:00) UTC</option>
                <option>(UTC +02:00) UTC</option>
                <option>(UTC +02:00) UTC</option>
            </select>
        </div>
        <div class="col-sm-12 padding-bottom-10">
            <p>You must specify whether or not you are a resident of the European Union for Value Added Tax(VAT) *</p>
            <label>
                <input type="radio" name="u-union">
                I confirm I am outside the European Union for Value Added Tax(VAT purposes. I understand that, in case that my billing address is within the European Union, my order may be cancelled or I may incur additional charges for value added tax purposes.
            </label>
            <label>
                <input type="radio" name="u-union">
                I am inside the European Union for VAT purposes (<a href="">Click here</a> for details of EU Countries).
            </label>
        </div>
        <div class="col-sm-6 padding-bottom-10">
            <input type="text" class="form-control" placeholder="VAT with a Country Code">
        </div>
        <div class="col-sm-6 padding-bottom-10">
            <p>VAT number must be entered with a country code.
            Please note that we will verify your VAT indentification number with the European Commission's VAT database.
            Any attemp to purposefully supply fraudulent VAT information will result in account suspension.</p>
        </div>
        <div class="col-sm-12 padding-bottom-10">
            <label>
                <input type="checkbox">
                I agree that changes to my inivoice information may impact the cost of my subscription. *
            </label>
        </div>
        <div class="col-sm-6 col-sm-offset-6 padding-bottom-10">
            <button class="btn btn-primary btn-block">Save</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>* Fields marked by an asterisk are required.</p>
        </div>
    </div>
</div>