<div id="content" class="container">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3 text-center">
            <h1 class="font-biggist">Subscription info</h1>
            <p>Paid till: 10 May 2017 | Recurring: <a class="cursor-pointer">active</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <h2>My Plan : <button class="btn btn-primary btn-sm float-right">Upgrade</button></h2>
            <h5>My subscription</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3 h3 plan-price-sub-header">
            <span class="margin-top-5 display-inline-block">Monitoring Input</span>
            <h5>Monitoring Traditional Media</h5>
        </div>
        <div class="col-xs-6 col-xs-offset-3">
            <table class="table">
                <tr>
                    <td>Newspaper</td>
                    <td><i class="fa fa-info-circle"></i></td>
                    <td class="text-green text-right"><i class="glyphicon glyphicon-ok"></i></td>
                </tr>
                <tr>
                    <td>Magazine</td>
                    <td><i class="fa fa-info-circle"></i></td>
                    <td class="text-green text-right"><i class="glyphicon glyphicon-ok"></i></td>
                </tr>
                <tr>
                    <td>Radio</td>
                    <td><i class="fa fa-info-circle"></i></td>
                    <td class="text-green text-right"><i class="glyphicon glyphicon-ok"></i></td>
                </tr>
                <tr>
                    <td>TV Channel</td>
                    <td><i class="fa fa-info-circle"></i></td>
                    <td class="text-green text-right"><i class="glyphicon glyphicon-ok"></i></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3 h3 plan-price-sub-header">
            <span class="margin-top-5 display-inline-block">Digital Media</span>
        </div>
        <div class="col-xs-6 col-xs-offset-3">
            <table class="table">
                <tr>
                    <td class="col-xs-4 font-bold">My Social</td>
                    <td class="col-xs-6">
                        Monitoring and analytics for <br/>
                        <i class="fa fa-facebook text-facebook"></i>
                        <i class="fa fa-instagram text-instagram"></i>
                        <i class="fa fa-twitter text-twitter"></i>
                        <i class="fa fa-pinterest text-pinterest"></i>
                        <i class="fa fa-youtube text-youtube"></i>
                        <i class="fa fa-google-plus text-google-plus"></i>
                    </td>
                    <td class="col-xs-2 text-right"><i class="fa fa-info-circle"></i></td>
                </tr>
                <tr>
                    <td class="col-xs-10 font-bold" colspan="2">
                        My Display advertising
                    </td>
                    <td class="text-green col-xs-2 text-right"><i class="glyphicon glyphicon-ok"></i></td>
                </tr>
                <tr>
                    <td colspan="3" class="padding-0">
                        <div class="padding-left-40">
                            Landing Page<br/>
                            Creative Type<br/>
                            Times seen<br/>
                            Days seen<br/>
                            First seen<br/>
                            Last seen
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>