<div id="content">
    <div class="row">
        <div class="col-xs-12">
            <div jarvis-widget data-widget-color="blueDark" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                    <h2> Campaign Breakdown
                    </h2>
                </header>

                <!-- widget div-->
                <div>
                    <div class="content-fluid">
                        <div class="row">
                            <div class="col-xs-4">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"></label>
                                        <div class="col-md-8">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" class="checkbox style-0" checked="checked" name="style-0">
                                                    <span>Select All</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Media Vehicle</label>
                                        <div class="col-md-8">
                                            <select class="form-control">
                                                <option>Television</option>
                                                <option>Newspaper</option>
                                                <option>Magazine Radio</option>
                                                <option>Online Display</option>
                                                <option>Outdoor</option>
                                                <option>Cinema</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Country</label>
                                        <div class="col-md-8">
                                            <select class="form-control">
                                                <option>United States</option>
                                                <option>France</option>
                                                <option>Italy</option>
                                                <option>India</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Language</label>
                                        <div class="col-md-8">
                                            <select class="form-control">
                                                <option>English</option>
                                                <option>French</option>
                                                <option>...</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group text-center">
                                            <button class="btn btn-primary">Search</button>
                                    </div>
                                </form>

                                <table class="table table-responsive text-center">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Date Period</th>
                                        <th class="text-center">01/01/2017 - 02/02/2017</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in vm.items">
                                        <td>{{item.key}}</td>
                                        <td><a class="cursor-pointer">{{item.val}}</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xs-8">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div highchart class="margin-bottom-10" data="vm.data3"></div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div highchart class="margin-bottom-10" data="vm.data2"></div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div highchart class="margin-bottom-10" data="vm.data3"></div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div highchart class="margin-bottom-10" data="vm.data2"></div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div highchart class="margin-bottom-10" data="vm.data2"></div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div highchart class="margin-bottom-10" data="vm.data2"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>