<div id="content">
    <div class="row">
        <div class="col-xs-12">
            <div jarvis-widget data-widget-color="blueDark" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                    <h2>Comparing the performance across multiple campaigns
                    </h2>
                </header>

                <!-- widget div-->
                <div>
                    <div class="content-fluid">
                        <div class="row">
                            <div class="col-xs-4">
                                <form class="form-horizontal">
                                    <div class="form-group" ng-repeat="i in [1,1,1] track by $index">
                                        <label class="col-md-4 control-label">Campaign {{$index + 1}}</label>
                                        <div class="col-md-8">
                                            <select class="form-control">
                                                <option>Please select a profile</option>
                                                <option>profile 1</option>
                                                <option>profile 2</option>
                                                <option>profile 3</option>
                                                <option>profile 4</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"></label>
                                        <div class="col-md-8">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" class="radiobox style-0" checked="checked" name="style-0">
                                                    <span>Select by region</span>
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" class="radiobox style-0" name="style-0">
                                                    <span>Select by media type</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">From</label>
                                        <div class="col-md-8">
                                            <div class="smart-form">
                                                <label class="input"> <i class="icon-append fa fa-calendar"></i>
                                                    <input type="text" name="request" placeholder=""
                                                           data-smart-datepicker data-dateformat='dd/mm/yy' ng-model="vm.sdate">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">To</label>
                                        <div class="col-md-8">
                                            <div class="smart-form">
                                                <label class="input"> <i class="icon-append fa fa-calendar"></i>
                                                    <input type="text" name="request" placeholder=""
                                                           data-smart-datepicker data-dateformat='dd/mm/yy' ng-model="vm.edate">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-xs-8">
                                <div highchart class="margin-bottom-10" data="vm.data1"></div>
                                <div highchart class="margin-bottom-10" data="vm.data2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-repeat="label in vm.labels">
        <div class="col-xs-12">
            <div jarvis-widget data-widget-color="blueDark" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                    <h2>{{label}}
                    </h2>
                </header>

                <!-- widget div-->
                <div>
                    <div class="content-fluid">
                        <div class="row">
                            <div class="col-xs-4">
                                <table class="table table-responsive text-center">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Date Period</th>
                                        <th class="text-center">{{vm.sdate}} - {{vm.edate}}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in vm.items">
                                        <td>{{item.key}}</td>
                                        <td><a class="cursor-pointer">{{item.val}}</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xs-8">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div highchart class="margin-bottom-10" data="vm.data3"></div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div highchart class="margin-bottom-10" data="vm.data2"></div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div highchart class="margin-bottom-10" data="vm.data2"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>