<div id="content">
    <!--<div class="row">
        <big-breadcrumbs items="['My Campaign', 'Main Search']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>-->

    <!-- content -->
    <div class="row">
        <div class="col-xs-12">
            <div jarvis-widget data-widget-color="blueDark" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>

                    <h2>Past 24 HRS</h2>
                </header>
                <div>
                    <div class="widget-body no-padding">
                        <div class="table-responsive">
                            <table class="table table-striped text-center">
                                <thead>
                                <tr>
                                    <th colspan="2"></th>
                                    <th><img class="img-responsive" src="./styles/img/temp/1.jpg">Print Media</th>
                                    <th><img class="img-responsive" src="./styles/img/temp/2.jpg">TV Channel</th>
                                    <th><img class="img-responsive" src="./styles/img/temp/3.jpg">FM Radio</th>
                                    <th><img class="img-responsive" src="./styles/img/temp/4.jpg">Online</th>
                                    <th><img class="img-responsive" src="./styles/img/temp/5.jpg">Outdoor</th>
                                    <th><img class="img-responsive" src="./styles/img/temp/1.jpg">Twitter</th>
                                    <th><img class="img-responsive" src="./styles/img/temp/2.jpg">Youtube</th>
                                    <th><img class="img-responsive" src="./styles/img/temp/3.jpg">Facebook</th>
                                    <th><img class="img-responsive" src="./styles/img/temp/4.jpg">LinkedIn</th>
                                    <th><img class="img-responsive" src="./styles/img/temp/5.jpg">Instagram</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td rowspan="2"><img class="img-responsive" src="./styles/img/temp/6.jpg"></td>
                                    <td>Campaign</td>
                                    <td ng-repeat="i in [1,1,1,1,1,1,1,1,1,1] track by $index">2</td>
                                </tr>
                                <tr>
                                    <td>Post</td>
                                    <td ng-repeat="i in [1,1,1,1,1,1,1,1,1,1] track by $index">2</td>
                                </tr>
                                <tr>
                                    <td rowspan="2"><img class="img-responsive" src="./styles/img/temp/7.jpg"></td>
                                    <td>Campaign</td>
                                    <td ng-repeat="i in [1,1,1,1,1,1,1,1,1,1] track by $index">2</td>
                                </tr>
                                <tr>
                                    <td>Post</td>
                                    <td ng-repeat="i in [1,1,1,1,1,1,1,1,1,1] track by $index">2</td>
                                </tr>
                                <tr>
                                    <td rowspan="2"><img class="img-responsive" src="./styles/img/temp/8.jpg"></td>
                                    <td>Campaign</td>
                                    <td ng-repeat="i in [1,1,1,1,1,1,1,1,1,1] track by $index">2</td>
                                </tr>
                                <tr>
                                    <td>Post</td>
                                    <td ng-repeat="i in [1,1,1,1,1,1,1,1,1,1] track by $index">2</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div jarvis-widget data-widget-editbutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>

                    <h2>Static</h2>
                </header>

                <div>
                    <div class="widget-body no-padding">
                        <flot-bar-chart data="vm.barChartData"></flot-bar-chart>
                    </div>
                </div>

                <div>
                    <div class="widget-body no-padding">
                        <flot-pie-chart data="vm.pieChartData"></flot-pie-chart>
                    </div>
                </div>

                <div>
                    <h4>A Whopper for Gignac</h4>
                    <p>World famous Fries The proud Whopper </p>
                    <p>The friendship is strong but The Whopper is stronger 100% British and Irish BEEF</p>
                </div>
            </div>
        </div>
    </div>
</div>