<div id="content">
    <div class="row">
        <div class="col-xs-12">
            <div jarvis-widget data-widget-color="blueDark" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                    <h2> Geographical Coverage
                    </h2>
                </header>

                <!-- widget div-->
                <div>
                    <div class="content-fluid">
                        <div class="row">
                            <div class="col-xs-5">
                                <p>Narrative will provide insight into trends and/or highlight changes from previous time periods.</p>
                            </div>
                            <div class="col-xs-7">
                                <div highchart class="margin-bottom-10" data="vm.data1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div jarvis-widget data-widget-color="blueDark" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                    <h2> Geographical Coverage by Month
                    </h2>
                </header>

                <!-- widget div-->
                <div>
                    <table class="table table-responsive">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Mar'12</th>
                            <th>Apr</th>
                            <th>May</th>
                            <th>Jun</th>
                            <th>Jul</th>
                            <th>Aug</th>
                            <th>Sep</th>
                            <th>Oct</th>
                            <th>Nov</th>
                            <th>Dec'12</th>
                            <th>Jan'13</th>
                            <th>Feb</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="i in [1,1,1,1,1,1,1] track by $index">
                            <td>UAE</td>
                            <td>357</td>
                            <td>42</td>
                            <td>532</td>
                            <td>407</td>
                            <td>375</td>
                            <td>387</td>
                            <td>373</td>
                            <td>324</td>
                            <td>442</td>
                            <td>405</td>
                            <td>689</td>
                            <td>403</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>