<div id="content">
    <!--<div class="row">
        <big-breadcrumbs items="['My Campaign', 'Main Search']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>-->

    <!-- content -->
    <div class="row">
        <div class="col-xs-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-lg-6 margin-bottom-10">
                        <label>Country</label>
                        <select class="form-control">
                            <option>France</option>
                            <option>Germany</option>
                            <option>Italy</option>
                            <option>Turkey</option>
                            <option>United States</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <label>Advertiser</label>
                        <div class="smart-form" ng-repeat="a in ['Arabian Outdoor','24 Media','6 Degrees Group','Al Shuala Media','Arabian Outdoor','24 Media','6 Degrees Group','Al Shuala Media'] track by $index">
                            <label class="checkbox">
                                <input type="checkbox" name="checkbox">
                                <i></i>
                                {{a}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-9">
            <div jarvis-widget data-widget-color="blueDark" id="search-summary" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>

                    <h2>Locator Map</h2>
                </header>
                <div>
                    <div class="widget-body no-padding">
                        <div data-smart-fill-content="" id="inventory-map-canvas">
                            <ui-gmap-google-map control='vm.map.control' center='vm.map.center' zoom='vm.map.zoom'></ui-gmap-google-map>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>