<div id="content">
    <div class="row">
        <div class="col-xs-12">
            <div jarvis-widget data-widget-color="blueDark" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                    <h2>Campaign Filters</h2>
                </header>

                <!-- widget div-->
                <div>
                    <div class="content-fluid">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="well padding-top-0">
                                    <form class="form-horizontal">
                                        <fieldset>
                                            <legend class="margin-bottom-10 marketing-header">&nbsp;</legend>
                                            <div class="form-group margin-0 margin-bottom-5">
                                                <div class="col-md-6 padding-left-0">
                                                    <select class="form-control">
                                                        <option>My Brand</option>
                                                        <option>Competitor 1</option>
                                                        <option>Competitor 2</option>
                                                        <option>Competitor 3</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6 padding-left-0">
                                                    <select class="form-control">
                                                        <option>Product Name 1</option>
                                                        <option>Product Name 2</option>
                                                        <option>Product Name 3</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="well padding-top-0">
                                    <form class="form-horizontal">
                                        <fieldset>
                                            <legend class="margin-bottom-10 marketing-header">Marketing Action</legend>
                                            <div class="form-group margin-0 margin-bottom-5">
                                                <label class="col-md-3 padding-left-0 control-label marketing-label">Paid Media</label>
                                                <div class="col-md-9">
                                                    <div class="container-fluid">
                                                        <div class="row margin-bottom-5">
                                                            <div class="col-md-6 padding-left-0">
                                                                <div class="btn-group dropdown width-full" data-dropdown>
                                                                    <button class="btn btn-style1 marketing-button" ng-init="btnLabel1 = 'Offline Media'">{{btnLabel1}}</button>
                                                                    <button class="btn btn-style1 dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                                                    <ul class="dropdown-menu">
                                                                        <li ng-click="btnLabel1 = 'Offline Media'"><a>Offline Media</a></li>
                                                                        <li ng-click="btnLabel1 = 'Disable'"><a>Disable</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 padding-left-0">
                                                                <div class="btn-group dropdown width-full" data-dropdown>
                                                                    <button class="btn btn-style2 marketing-button">Newspapers</button>
                                                                    <button class="btn btn-style2 dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                                                    <ul class="dropdown-menu">
                                                                        <li><a>Newspapers</a></li>
                                                                        <li><a>Disable</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6 padding-left-0">
                                                                <div class="btn-group dropdown width-full" data-dropdown>
                                                                    <button class="btn btn-style1 marketing-button">Online Media</button>
                                                                    <button class="btn btn-style1 dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                                                    <ul class="dropdown-menu">
                                                                        <li><a>Online Media</a></li>
                                                                        <li><a>Disable</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 padding-left-0">
                                                                <div class="btn-group dropdown width-full" data-dropdown>
                                                                    <button class="btn btn-style2 marketing-button">Social Ad</button>
                                                                    <button class="btn btn-style2 dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                                                    <ul class="dropdown-menu">
                                                                        <li><a>Social Ad</a></li>
                                                                        <li><a>Disable</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group margin-0 margin-bottom-5">
                                                <label class="col-md-3 padding-left-0 control-label marketing-label">Owned Media</label>
                                                <div class="col-md-9">
                                                    <div class="container-fluid">
                                                        <div class="row margin-bottom-5">
                                                            <div class="col-md-6 padding-left-0">
                                                                <div class="btn-group dropdown width-full" data-dropdown>
                                                                    <button class="btn btn-style1 marketing-button">Offline Media</button>
                                                                    <button class="btn btn-style1 dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                                                    <ul class="dropdown-menu">
                                                                        <li><a>Offline Media</a></li>
                                                                        <li><a>Disable</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 padding-left-0">
                                                                <div class="btn-group dropdown width-full" data-dropdown>
                                                                    <button class="btn btn-style2 marketing-button">Company PR</button>
                                                                    <button class="btn btn-style2 dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                                                    <ul class="dropdown-menu">
                                                                        <li><a>Company PR</a></li>
                                                                        <li><a>Disable</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6 padding-left-0">
                                                                <div class="btn-group dropdown width-full" data-dropdown>
                                                                    <button class="btn btn-style1 marketing-button">Online Media</button>
                                                                    <button class="btn btn-style1 dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                                                    <ul class="dropdown-menu">
                                                                        <li><a>Online Media</a></li>
                                                                        <li><a>Disable</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 padding-left-0">
                                                                <div class="btn-group dropdown width-full" data-dropdown>
                                                                    <button class="btn btn-style2 marketing-button">Social Accounts</button>
                                                                    <button class="btn btn-style2 dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                                                    <ul class="dropdown-menu">
                                                                        <li><a>Social Accounts</a></li>
                                                                        <li><a>Disable</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group margin-0 margin-bottom-5">
                                                <label class="col-md-3 padding-left-0 control-label marketing-label">Earned Media</label>
                                                <div class="col-md-9">
                                                    <div class="container-fluid">
                                                        <div class="row margin-bottom-5">
                                                            <div class="col-md-6 padding-left-0">
                                                                <div class="btn-group dropdown width-full" data-dropdown>
                                                                    <button class="btn btn-style1 marketing-button">Disable</button>
                                                                    <button class="btn btn-style1 dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                                                    <ul class="dropdown-menu">
                                                                        <li><a>Disable</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 padding-left-0">
                                                                <div class="btn-group dropdown width-full" data-dropdown>
                                                                    <button class="btn btn-style2 marketing-button">Mentions</button>
                                                                    <button class="btn btn-style2 dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                                                    <ul class="dropdown-menu">
                                                                        <li><a>Mentions</a></li>
                                                                        <li><a>Disable</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row margin-bottom-5">
                                                            <div class="col-md-6 padding-left-0">
                                                                <div class="btn-group dropdown width-full" data-dropdown>
                                                                    <button class="btn btn-style1 marketing-button">Online Media</button>
                                                                    <button class="btn btn-style1 dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                                                    <ul class="dropdown-menu">
                                                                        <li><a>Online Media</a></li>
                                                                        <li><a>Disable</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 padding-left-0">
                                                                <div class="btn-group dropdown width-full" data-dropdown>
                                                                    <button class="btn btn-style2 marketing-button">Social Engagement</button>
                                                                    <button class="btn btn-style2 dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                                                    <ul class="dropdown-menu">
                                                                        <li><a>Social Engagement</a></li>
                                                                        <li><a>Disable</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6 col-md-offset-6 padding-left-0">
                                                                <button class="btn btn-success width-full">All</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="well padding-top-0">
                                    <form class="form-horizontal">
                                        <fieldset>
                                            <legend class="margin-bottom-10 marketing-header">Match with <b>Marketing Condition</b></legend>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" class="checkbox style-0">
                                                        <span>Upload Sales Outcome</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" class="checkbox style-0">
                                                        <span>Mins</span>
                                                    </label>
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" class="checkbox style-0">
                                                        <span>Hrs</span>
                                                    </label>
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" class="checkbox style-0">
                                                        <span>Day</span>
                                                    </label>
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" class="checkbox style-0">
                                                        <span>Month</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <label>Select a date (range):</label>
                                                </div>
                                                <div class="col-sm-6">

                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <input class="form-control" id="from" data-smart-datepicker data-min-restrict="#to" data-number-of-months="1" data-changes-month="true" data-default-date="+1w" type="text" placeholder="From">
                                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-6">

                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <input class="form-control" id="to" data-smart-datepicker data-max-restrict="#from" data-number-of-months="1" data-changes-month="true" data-default-date="+1w" type="text" placeholder="Select a date">
                                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div jarvis-widget data-widget-color="blueDark" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                    <h2>Monthly Marketing Activity</h2>
                </header>

                <!-- widget div-->
                <div>
                    <div class="content-fluid">
                        <div highchart data="vm.data"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>