<div id="content">
    <div class="row">
        <div class="col-xs-12">
            <div jarvis-widget data-widget-color="blueDark" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                    <h2>Campaign Filters</h2>
                </header>

                <!-- widget div-->
                <div>
                    <div class="content-fluid">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="well padding-top-0">
                                    <form class="form-horizontal">
                                        <fieldset>
                                            <legend class="margin-bottom-10">&nbsp;</legend>
                                            <div class="form-group margin-0 margin-bottom-5">
                                                <div class="col-md-6 padding-left-0">
                                                    <select class="form-control">
                                                        <option>My Brand</option>
                                                        <option>Competitor 1</option>
                                                        <option>Competitor 2</option>
                                                        <option>Competitor 3</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6 padding-left-0">
                                                    <select class="form-control">
                                                        <option>Product Name 1</option>
                                                        <option>Product Name 2</option>
                                                        <option>Product Name 3</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="well padding-top-0">
                                    <form class="form-horizontal">
                                        <fieldset>
                                            <legend class="margin-bottom-10">Marketing Action</legend>
                                            <div class="form-group margin-0 margin-bottom-5">
                                                <label class="col-md-3 padding-left-0 control-label">Paid Media</label>
                                                <div class="col-md-3 padding-left-0">
                                                    <select class="form-control">
                                                        <option>Offline Media</option>
                                                        <option>Disable</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3 padding-left-0">
                                                    <select class="form-control">
                                                        <option>Newspapers</option>
                                                        <option>Disable</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group margin-0 margin-bottom-5">
                                                <label class="col-md-3 padding-left-0 control-label"></label>
                                                <div class="col-md-3 padding-left-0">
                                                    <select class="form-control">
                                                        <option>Online Media</option>
                                                        <option>Disable</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3 padding-left-0">
                                                    <select class="form-control">
                                                        <option>Social Ad</option>
                                                        <option>Disable</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group margin-0 margin-bottom-5 margin-top-10">
                                                <label class="col-md-3 padding-left-0 control-label">Owned Media</label>
                                                <div class="col-md-3 padding-left-0">
                                                    <select class="form-control">
                                                        <option>Offline Media</option>
                                                        <option>Disable</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3 padding-left-0">
                                                    <select class="form-control">
                                                        <option>Company PR</option>
                                                        <option>Disable</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group margin-0 margin-bottom-5">
                                                <label class="col-md-3 padding-left-0 control-label"></label>
                                                <div class="col-md-3 padding-left-0">
                                                    <select class="form-control">
                                                        <option>Online Media</option>
                                                        <option>Disable</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3 padding-left-0">
                                                    <select class="form-control">
                                                        <option>Social Accounts</option>
                                                        <option>Disable</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group margin-0 margin-bottom-5 margin-top-10">
                                                <label class="col-md-3 padding-left-0 control-label">Earned Media</label>
                                                <div class="col-md-3 padding-left-0">
                                                    <select class="form-control">
                                                        <option>Disable</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3 padding-left-0">
                                                    <select class="form-control">
                                                        <option>Mentions</option>
                                                        <option>Disable</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group margin-0 margin-bottom-5">
                                                <label class="col-md-3 padding-left-0 control-label"></label>
                                                <div class="col-md-3 padding-left-0">
                                                    <select class="form-control">
                                                        <option>Online Media</option>
                                                        <option>Disable</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3 padding-left-0">
                                                    <select class="form-control">
                                                        <option>Social Engagement</option>
                                                        <option>Disable</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3 padding-left-0">
                                                    <button class="btn btn-primary width-full">All</button>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="well padding-top-0">
                                    <form class="form-horizontal">
                                        <fieldset>
                                            <legend class="margin-bottom-10">Match with <b>Marketing Condition</b></legend>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" class="checkbox style-0">
                                                        <span>Upload Sales Outcome</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" class="checkbox style-0">
                                                        <span>Mins</span>
                                                    </label>
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" class="checkbox style-0">
                                                        <span>Hrs</span>
                                                    </label>
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" class="checkbox style-0">
                                                        <span>Day</span>
                                                    </label>
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" class="checkbox style-0">
                                                        <span>Month</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <label>Select a date (range):</label>
                                                </div>
                                                <div class="col-sm-6">

                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <input class="form-control" id="from" data-smart-datepicker data-min-restrict="#to" data-number-of-months="1" data-changes-month="true" data-default-date="+1w" type="text" placeholder="From">
                                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-6">

                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <input class="form-control" id="to" data-smart-datepicker data-max-restrict="#from" data-number-of-months="1" data-changes-month="true" data-default-date="+1w" type="text" placeholder="Select a date">
                                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div jarvis-widget data-widget-color="blueDark" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                    <h2>Monthly Marketing Activity</h2>
                </header>

                <!-- widget div-->
                <div>
                    <div class="content-fluid">
                        <div highchart data="vm.data"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>