<div id="content">
    <div class="row">
        <div class="col-xs-12">
            <div jarvis-widget data-widget-color="blueDark" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                    <h2>Campaign Filters</h2>
                </header>

                <!-- widget div-->
                <div>
                    <div class="content-fluid">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="well padding-top-0">
                                    <form class="form-horizontal">
                                        <fieldset>
                                            <legend class="margin-bottom-10 marketing-header">&nbsp;</legend>
                                            <div class="form-group margin-0 margin-bottom-5">
                                                <div class="col-md-6 padding-left-0">
                                                    <select class="form-control">
                                                        <option>My Brand</option>
                                                        <option>Competitor 1</option>
                                                        <option>Competitor 2</option>
                                                        <option>Competitor 3</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6 padding-left-0">
                                                    <select class="form-control">
                                                        <option>Product Name 1</option>
                                                        <option>Product Name 2</option>
                                                        <option>Product Name 3</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="well padding-top-0">
                                    <form class="form-horizontal">
                                        <fieldset>
                                            <legend class="margin-bottom-10 marketing-header">Marketing Action</legend>
                                            <div class="form-group margin-0 margin-bottom-5">
                                                <label class="col-md-3 padding-left-0 control-label marketing-label">Paid Media</label>
                                                <div class="col-md-9">
                                                    <div class="container-fluid">
                                                        <div class="row margin-bottom-5">
                                                            <div class="col-md-6 padding-left-0">
                                                                <div class="btn-group dropdown width-full" data-dropdown>
                                                                    <button class="btn btn-default dropdown-toggle width-full" data-toggle="dropdown">{{vm.currItems[0]}} <span class="caret"></span></button>
                                                                    <ul class="dropdown-menu">
                                                                        <li ng-repeat="item in vm.items[0]" ng-click="vm.currItems[0] = item" ng-class="{'item-actived':vm.currItems[0] == item}"><a>{{item}}</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 padding-left-0">
                                                                <div class="btn-group dropdown width-full" data-dropdown>
                                                                    <button class="btn btn-default dropdown-toggle width-full" data-toggle="dropdown">{{vm.currItems[1]}} <span class="caret"></span></button>
                                                                    <ul class="dropdown-menu">
                                                                        <li ng-repeat="item in vm.items[1]" ng-click="vm.currItems[1] = item" ng-class="{'item-actived':vm.currItems[1] == item}"><a>{{item}}</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6 padding-left-0">
                                                                <div class="btn-group dropdown width-full" data-dropdown>
                                                                    <button class="btn btn-default dropdown-toggle width-full" data-toggle="dropdown">{{vm.currItems[2]}} <span class="caret"></span></button>
                                                                    <ul class="dropdown-menu">
                                                                        <li ng-repeat="item in vm.items[2]" ng-click="vm.currItems[2] = item" ng-class="{'item-actived':vm.currItems[2] == item}"><a>{{item}}</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 padding-left-0">
                                                                <div class="btn-group dropdown width-full" data-dropdown>
                                                                    <button class="btn btn-default dropdown-toggle width-full" data-toggle="dropdown">{{vm.currItems[3]}} <span class="caret"></span></button>
                                                                    <ul class="dropdown-menu">
                                                                        <li ng-repeat="item in vm.items[3]" ng-click="vm.currItems[3] = item" ng-class="{'item-actived':vm.currItems[3] == item}"><a>{{item}}</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group margin-0 margin-bottom-5">
                                                <label class="col-md-3 padding-left-0 control-label marketing-label">Owned Media</label>
                                                <div class="col-md-9">
                                                    <div class="container-fluid">
                                                        <div class="row margin-bottom-5">
                                                            <div class="col-md-6 padding-left-0">
                                                                <div class="btn-group dropdown width-full" data-dropdown>
                                                                    <button class="btn btn-default dropdown-toggle width-full" data-toggle="dropdown">{{vm.currItems[4]}} <span class="caret"></span></button>
                                                                    <ul class="dropdown-menu">
                                                                        <li ng-repeat="item in vm.items[4]" ng-click="vm.currItems[4] = item" ng-class="{'item-actived':vm.currItems[4] == item}"><a>{{item}}</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 padding-left-0">
                                                                <div class="btn-group dropdown width-full" data-dropdown>
                                                                    <button class="btn btn-default dropdown-toggle width-full" data-toggle="dropdown">{{vm.currItems[5]}} <span class="caret"></span></button>
                                                                    <ul class="dropdown-menu">
                                                                        <li ng-repeat="item in vm.items[5]" ng-click="vm.currItems[5] = item" ng-class="{'item-actived':vm.currItems[5] == item}"><a>{{item}}</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6 padding-left-0">
                                                                <div class="btn-group dropdown width-full" data-dropdown>
                                                                    <button class="btn btn-default dropdown-toggle width-full" data-toggle="dropdown">{{vm.currItems[6]}} <span class="caret"></span></button>
                                                                    <ul class="dropdown-menu">
                                                                        <li ng-repeat="item in vm.items[6]" ng-click="vm.currItems[6] = item" ng-class="{'item-actived':vm.currItems[6] == item}"><a>{{item}}</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 padding-left-0">
                                                                <div class="btn-group dropdown width-full" data-dropdown>
                                                                    <button class="btn btn-default dropdown-toggle width-full" data-toggle="dropdown">{{vm.currItems[7]}} <span class="caret"></span></button>
                                                                    <ul class="dropdown-menu">
                                                                        <li ng-repeat="item in vm.items[7]" ng-click="vm.currItems[7] = item" ng-class="{'item-actived':vm.currItems[7] == item}"><a>{{item}}</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group margin-0 margin-bottom-5">
                                                <label class="col-md-3 padding-left-0 control-label marketing-label">Earned Media</label>
                                                <div class="col-md-9">
                                                    <div class="container-fluid">
                                                        <div class="row margin-bottom-5">
                                                            <div class="col-md-6 padding-left-0">
                                                                <div class="btn-group dropdown width-full" data-dropdown>
                                                                    <button class="btn btn-default dropdown-toggle width-full" data-toggle="dropdown">{{vm.currItems[8]}} <span class="caret"></span></button>
                                                                    <ul class="dropdown-menu">
                                                                        <li ng-repeat="item in vm.items[8]" ng-click="vm.currItems[8] = item" ng-class="{'item-actived':vm.currItems[8] == item}"><a>{{item}}</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 padding-left-0">
                                                                <div class="btn-group dropdown width-full" data-dropdown>
                                                                    <button class="btn btn-default dropdown-toggle width-full" data-toggle="dropdown">{{vm.currItems[9]}} <span class="caret"></span></button>
                                                                    <ul class="dropdown-menu">
                                                                        <li ng-repeat="item in vm.items[9]" ng-click="vm.currItems[9] = item" ng-class="{'item-actived':vm.currItems[9] == item}"><a>{{item}}</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row margin-bottom-5">
                                                            <div class="col-md-6 padding-left-0">
                                                                <div class="btn-group dropdown width-full" data-dropdown>
                                                                    <button class="btn btn-default dropdown-toggle width-full" data-toggle="dropdown">{{vm.currItems[10]}} <span class="caret"></span></button>
                                                                    <ul class="dropdown-menu">
                                                                        <li ng-repeat="item in vm.items[10]" ng-click="vm.currItems[10] = item" ng-class="{'item-actived':vm.currItems[10] == item}"><a>{{item}}</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 padding-left-0">
                                                                <div class="btn-group dropdown width-full" data-dropdown>
                                                                    <button class="btn btn-default dropdown-toggle width-full" data-toggle="dropdown">{{vm.currItems[11]}} <span class="caret"></span></button>
                                                                    <ul class="dropdown-menu">
                                                                        <li ng-repeat="item in vm.items[11]" ng-click="vm.currItems[11] = item" ng-class="{'item-actived':vm.currItems[11] == item}"><a>{{item}}</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>

                                        <div class="row">
                                            <div class="col-md-4 col-md-offset-4 padding-left-0">
                                                <button class="btn btn-success width-full">All</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="well padding-top-0">
                                    <form class="form-horizontal">
                                        <fieldset>
                                            <legend class="margin-bottom-10 marketing-header">Match with <b>Marketing Condition</b></legend>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" class="checkbox style-0">
                                                        <span>Upload Sales Outcome</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" class="checkbox style-0">
                                                        <span>Mins</span>
                                                    </label>
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" class="checkbox style-0">
                                                        <span>Hrs</span>
                                                    </label>
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" class="checkbox style-0">
                                                        <span>Day</span>
                                                    </label>
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" class="checkbox style-0">
                                                        <span>Month</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <label>Select a date (range):</label>
                                                </div>
                                                <div class="col-sm-6">

                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <input class="form-control" id="from" data-smart-datepicker data-min-restrict="#to" data-number-of-months="1" data-changes-month="true" data-default-date="+1w" type="text" placeholder="From">
                                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-6">

                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <input class="form-control" id="to" data-smart-datepicker data-max-restrict="#from" data-number-of-months="1" data-changes-month="true" data-default-date="+1w" type="text" placeholder="Select a date">
                                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div jarvis-widget data-widget-color="blueDark" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                    <h2>Monthly Marketing Activity</h2>
                </header>

                <!-- widget div-->
                <div>
                    <div class="content-fluid">
                        <div highchart data="vm.data"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>