<div id="content">
    <div class="row">
        <div class="col-xs-6">
            <div jarvis-widget data-widget-color="blueDark" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                    <h2>Language vs. Media Vehicle
                    </h2>
                </header>

                <!-- widget div-->
                <div>
                    <div class="content-fluid">
                        <div class="row">
                            <div class="col-xs-6">
                                <div highchart class="margin-bottom-10" data="vm.data2"></div>
                            </div>
                            <div class="col-xs-6">
                                <p>Narrative will provide insight into trends and/or highlight changes from previous time periods</p>
                            </div>
                            <div class="col-xs-12">
                                <div highchart class="margin-bottom-10" data="vm.data1"></div>
                            </div>
                            <div class="col-xs-12">
                                <div highchart class="margin-bottom-10" data="vm.data1"></div>
                            </div>
                            <div class="col-xs-12">
                                <div highchart class="margin-bottom-10" data="vm.data3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div jarvis-widget data-widget-color="blueDark" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                    <h2>Media Vehicle Breakdown
                    </h2>
                </header>

                <!-- widget div-->
                <div>
                    <div class="content-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <p>Narrative will provide insight into trends and/or highlight changes from previous time periods</p>
                            </div>
                            <div class="col-xs-6">
                                <div highchart class="margin-bottom-10" data="vm.data3"></div>
                            </div>
                            <div class="col-xs-6">
                                <div highchart class="margin-bottom-10" data="vm.data2"></div>
                            </div>
                            <div class="col-xs-12">
                                <div highchart class="margin-bottom-10" data="vm.data2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>