<div id="content">
    <!--<div class="row">
        <big-breadcrumbs items="['My Campaign', 'Main Search']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>-->

    <!-- content -->
    <div class="row">
        <div class="col-xs-4 text-center">
            <div class="btn-group dropdown-left" data-dropdown>
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Country <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href-void ng-click="vm.checkAllCountries()">
                            <input type="checkbox" ng-model="vm.allCountryCheck"> All Countries
                        </a>
                    </li>
                    <li ng-repeat="item in vm.countries">
                        <a href-void ng-click="item.checked = !item.checked">
                            <input type="checkbox" ng-change="item.checked = !item.checked" ng-model="item.checked"> {{item.name}}
                        </a>
                    </li>
                </ul>
            </div>
            <br/>
            <div class="padding-top-10">{{vm.checkedCountryNames().join(', ')}}</div>
        </div>
        <div class="col-xs-4">
            <div jarvis-widget data-widget-color="blueDark" id="campaigns-messages1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                    <h2>OOH Media Categories</h2>
                </header>

                <!-- widget div-->
                <div class="height-200px overflow-auto">
                    <!-- widget content -->
                    <div class="widget-body">
                        <div class="smart-form" ng-repeat="item in vm.mediaTypes">
                            <label class="checkbox">
                                <input type="checkbox" name="radio" ng-model="item.checked" ng-click="checkMediaType(item)">
                                <i></i>
                                {{item.name}}
                            </label>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href-void class="btn btn-xs btn-primary" ng-click="vm.checkAllMediaTypes(true)">Select all OOH Categories</a>
                        <a href-void class="btn btn-xs btn-info" ng-click="vm.uncheckAllMediaFormats()">Deselect All</a>
                    </div>
                    <!-- end widget body-->
                </div>
                <!-- end widget content -->
            </div>
        </div>
        <div class="col-xs-4">
            <div jarvis-widget data-widget-color="blueDark" id="campaigns-messages3" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                    <h2>OOH Media Format</h2>
                </header>

                <!-- widget div-->
                <div class="height-200px overflow-auto custom-scroll">
                    <!-- widget content -->
                    <div class="widget-body">
                        <div class="smart-form" ng-repeat="item in vm.getMediaFormats()">
                            <label class="checkbox">
                                <input type="checkbox" name="checkbox" ng-model="item.checked">
                                <i></i>
                                {{item.name}}
                            </label>
                        </div>
                    </div>
                    <!-- end widget body-->
                </div>

                <!-- end widget content -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <a href-void class="btn btn-primary" ng-click="vm.search()">{{vm.searchFlag ? 'Search' : 'Reset Search'}}</a>
            <a href-void class="btn btn-primary" ng-click="vm.uncheckAllMediaTypes()">Clear Filters</a>
            <!--<label class="checkbox">
                <input type="checkbox" name="checkbox">
                <i></i>
                Select/Deselect All
            </label>-->
        </div>
        <div class="col-xs-12">
            <h5 class="text-center">Total Result: {{vm.searchResult.length}}</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="well">
                <div class="text-right margin-bottom-10">
                    <button ng-click="vm.exportExcel()" class="btn btn-danger">Export</button>
                </div>
                <div jarvis-widget
                     data-widget-color="blueDark"
                     id="campaigns-messages4"
                     data-widget-colorbutton="false"
                     data-widget-editbutton="false"
                     data-widget-togglebutton="false"
                     data-widget-deletebutton="false"
                     data-widget-fullscreenbutton="false"
                     data-widget-custombutton="false"
                     data-widget-sortable="false"
                     ng-repeat="r in vm.searchResult">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                        <h2>{{r.title}}</h2>
                    </header>

                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="well display-inline-block">
                                            <div class="col-xs-5">
                                                <img class="img-responsive" ng-src="./styles/img/temp/kn.png">
                                            </div>
                                            <div class="col-xs-7">
                                                <p><strong>Phone</strong> (312)346-3771</p>
                                                <p><strong>Fax</strong> (312)346-0991</p>
                                                <p>
                                                    <i class="fa fa-2x fa-twitter color-twitter"></i>
                                                    <i class="fa fa-2x fa-facebook-square color-facebook"></i>
                                                    <i class="fa fa-2x fa-linkedin-square color-linkedin"></i>
                                                </p>
                                            </div>
                                        </div>
                                        <p><strong>Kubin-Nicholson</strong></p>
                                        <p>333 North Michigan Avenue Suite 704 Chicago, IL 60601</p><br>
                                        <p>Kubin-Nicholson, a trailblazer and leader in the Out-of-Home industry for over 85 years offers seasoned employees, state-of-the-art technology and turkey outdoor advertising programs to.</p>
                                        <p><a class="cursor-pointer">http://www.kubin.com</a></p>
                                    </div>
                                    <div class="col-xs-8">
                                        <div jarvis-widget data-widget-color="blueDark"
                                             data-widget-colorbutton="false"
                                             data-widget-editbutton="false"
                                             data-widget-togglebutton="false"
                                             data-widget-deletebutton="false"
                                             data-widget-fullscreenbutton="false"
                                             data-widget-custombutton="false"
                                             data-widget-sortable="false"
                                             ng-repeat="b in r.formats track by $index">
                                            <header>
                                                <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                                                <h2>{{b.title}}</h2>
                                            </header>

                                            <!-- widget div-->
                                            <div>
                                                <!-- widget content -->
                                                <div class="widget-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered table-striped">
                                                            <thead>
                                                            <tr>
                                                                <th ng-repeat="header in b.headers track by $index">{{header}}</th>
                                                            </tr>
                                                            </thead>
                                                            <tr>
                                                                <td ng-repeat="content in b.contents track by $index">{{content}}</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hide" id="exportDiv">
    <table>
        <thead>
        <tr>
            <th>Country</th>
            <th>OOH Supplier</th>
            <th>Website</th>
            <th>Phone</th>
            <th>Format</th>
        </tr>
        </thead>
        <tbody id="exportBody">
        <tr>
            <td>United Arab Emirates</td>
            <td>Clear Channel Outdoor</td>
            <td>http://clearchanneloutdoor.com/where-we-are/albuquerque/</td>
            <td>(505) 345-3589</td>
            <td>Digital Posters</td>
        </tr>
        </tbody>
    </table>
</div>