<div id="content">
    <!--<div class="row">
        <big-breadcrumbs items="['My Campaign', 'Main Search']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>-->

    <!-- content -->
    <div class="row">
        <div class="col-xs-3">
            <div jarvis-widget data-widget-color="blueDark" id="campaigns-messages2" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                    <h2>Choose Country</h2>
                </header>

                <!-- widget div-->
                <div>
                    <!-- widget content -->
                    <div class="widget-body">
                        <div class="smart-form" ng-repeat="f in ['French', 'United Arab', 'Turkey', 'Ukraine', 'Russia', 'Germany', 'Netherlands', '... ...'] track by $index">
                            <label class="checkbox">
                                <input type="checkbox" name="checkbox">
                                <i></i>
                                {{f}}
                            </label>
                        </div>
                    </div>
                    <!-- end widget body-->

                </div>
                <!-- end widget content -->
            </div>
        </div>
        <div class="col-xs-3">
            <div jarvis-widget data-widget-color="blueDark" id="campaigns-messages1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                    <h2>Advertiser</h2>
                </header>

                <!-- widget div-->
                <div>
                    <!-- widget content -->
                    <div class="widget-body">
                        <div class="smart-form" ng-repeat="a in ['Arabian Outdoor','24 Media','6 Degrees Group','Al Shuala Media', '...', '...', '...', '...'] track by $index">
                            <label class="checkbox">
                                <input type="checkbox" name="checkbox">
                                <i></i>
                                {{a}}
                            </label>
                        </div>
                    </div>
                    <!-- end widget body-->

                </div>
                <!-- end widget content -->
            </div>

        </div>
        <div class="col-xs-3">
            <div jarvis-widget data-widget-color="blueDark" id="campaigns-messages3" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                    <h2>Categories</h2>
                </header>

                <!-- widget div-->
                <div>
                    <!-- widget content -->
                    <div class="widget-body">
                        <div class="smart-form" ng-repeat="c in ['Billboards', 'Street Furniture', 'Transit', 'Alternative OOH', 'Select all OOH Categories', '...', '...', '...'] track by $index">
                            <label class="checkbox">
                                <input type="checkbox" name="checkbox">
                                <i></i>
                                {{c}}
                            </label>
                        </div>
                    </div>
                    <!-- end widget body-->

                </div>
                <!-- end widget content -->
            </div>

        </div>
        <div class="col-xs-3">
            <div jarvis-widget data-widget-color="blueDark" id="campaigns-messages2" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                    <h2>Choose Format</h2>
                </header>

                <!-- widget div-->
                <div>
                    <!-- widget content -->
                    <div class="widget-body">
                        <div class="smart-form" ng-repeat="f in ['Digital Bulletins', 'Digital Posters', 'Digital Spectaculars', 'Printed Bulletins', 'Printed Junior Posters', 'Printed Posters', 'Printed Spectaculars', 'Printed Wass Murals'] track by $index">
                            <label class="checkbox">
                                <input type="checkbox" name="checkbox">
                                <i></i>
                                {{f}}
                            </label>
                        </div>
                    </div>
                    <!-- end widget body-->

                </div>
                <!-- end widget content -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 text-center">
            <a href-void class="btn btn-danger">Search</a>
            <a href-void class="btn btn-primary">Clear Filters</a>
            <a href-void class="btn btn-danger">Export</a>
        </div>
        <div class="col-xs-6 text-center">
            <a href-void class="btn btn-primary">Select all OOH Categories and Formats</a>
            <a href-void class="btn btn-info">Deselect All</a>
            <!--<label class="checkbox">
                <input type="checkbox" name="checkbox">
                <i></i>
                Select/Deselect All
            </label>-->
        </div>
        <div class="col-xs-12">
            <h5 class="text-center">Total Result: 6</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="well">
                <div jarvis-widget
                     data-widget-color="blueDark"
                     id="campaigns-messages4"
                     data-widget-colorbutton="false"
                     data-widget-editbutton="false"
                     data-widget-togglebutton="false"
                     data-widget-deletebutton="false"
                     data-widget-fullscreenbutton="false"
                     data-widget-custombutton="false"
                     data-widget-sortable="false" ng-repeat="r in ['Albuquerque / Santa Fe NM', 'Amarillo TX']">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                        <h2>{{r}}</h2>
                    </header>

                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <h4>Clear Channel Outdoor</h4>
                                        <p>Clear Channel Outdoor</p>
                                        <p>Visit Website</p>
                                    </div>
                                    <div class="col-xs-8">
                                        <div jarvis-widget data-widget-color="blueDark"
                                             data-widget-colorbutton="false"
                                             data-widget-editbutton="false"
                                             data-widget-togglebutton="false"
                                             data-widget-deletebutton="false"
                                             data-widget-fullscreenbutton="false"
                                             data-widget-custombutton="false"
                                             data-widget-sortable="false"
                                             ng-repeat="b in [1, 1] track by $index">
                                            <header>
                                                <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                                                <h2>Hide / Show Formats</h2>
                                            </header>

                                            <!-- widget div-->
                                            <div>
                                                <!-- widget content -->
                                                <div class="widget-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered table-striped">
                                                            <thead>
                                                            <tr>
                                                                <th>Bulletins</th>
                                                                <th>Posters</th>
                                                                <th>Junior Posters</th>
                                                            </tr>
                                                            </thead>
                                                            <tr>
                                                                <td>Digital Bulletins</td>
                                                                <td>Digital Posters</td>
                                                                <td></td>
                                                            </tr>
                                                        </table>
                                                    </div>

                                                </div>
                                                <!-- end widget body-->

                                            </div>
                                            <!-- end widget content -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget body-->

                    </div>
                    <!-- end widget content -->
                </div>

            </div>
        </div>
    </div>
</div>