<div id="content">
    <!--<div class="row">
        <big-breadcrumbs items="['My Campaign', 'Main Search']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>-->

    <!-- content -->
    <div class="row">
        <div class="col-xs-12">
            <div class="well display-inline-block width-full">
                <div class="container-fluid">
                    <div class="row margin-bottom-10">
                        <div class="col-xs-12 text-center">
                            <div class="btn-group dropdown-left float-left margin-left-5" data-dropdown>
                                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    Country <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href-void>United States</a>
                                    </li>
                                    <li>
                                        <a href-void>France</a>
                                    </li>
                                    <li>
                                        <a href-void>United Kingdom</a>
                                    </li>
                                    <li>
                                        <a href-void>... ... ...</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="btn-group dropdown float-left margin-left-5" data-dropdown>
                                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    Language <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href-void>English</a>
                                    </li>
                                    <li>
                                        <a href-void>French</a>
                                    </li>
                                    <li>
                                        <a href-void>Arabic</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="btn-group dropdown float-left margin-left-5" data-dropdown>
                                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    Media type <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href-void></a>
                                    </li>
                                </ul>
                            </div>

                            <div class="btn-group dropdown float-left margin-left-5" data-dropdown>
                                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    Industry <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href-void></a>
                                    </li>
                                </ul>
                            </div>

                            <div class="btn-group dropdown float-left margin-left-5" data-dropdown>
                                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    Sub-Industry <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href-void></a>
                                    </li>
                                </ul>
                            </div>

                            <div class="btn-group dropdown float-left margin-left-5" data-dropdown>
                                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    Brand <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href-void></a>
                                    </li>
                                </ul>
                            </div>

                            <div class="btn-group dropdown float-left margin-left-5" data-dropdown>
                                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    Product Name <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href-void></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="smart-form float-left tag-box margin-left-5">
                                <label class="input">
                                    <input type="text" placeholder="Tag">
                                </label>
                            </div>

                            <div class="smart-form float-left search-box margin-left-5">
                                <label class="input">
                                    <input type="text" placeholder="Campaign message">
                                </label>
                            </div>

                            <div class="smart-form float-left date-range-box margin-left-5">
                                <label class="input">
                                    <input type="daterange" ng-model="vm.dates4" ranges="vm.ranges" placeholder="Period">
                                </label>
                            </div>

                            <a href-void class="btn btn-primary float-left margin-left-20">Generate report pack</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="well text-right">
                <a href-void class="btn btn-primary">Back to main Search</a>
                <a href-void class="btn btn-danger">Clear All</a>
                <a href-void class="btn btn-success">Generate report pack</a>
            </div>-->
        </div>
        <!--<div class="col-xs-12 text-center margin-bottom-10">
            <i class="fa  fa-spinner fa-4x fa-spin"></i>
        </div>-->
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div jarvis-widget data-widget-color="blueDark" id="summary-report" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                <header>
                    <span class="widget-icon margin-right-5"> <i class="fa fa-table"></i> </span>
                    <div class="smart-form margin-right-10">
                        <label class="toggle">
                            <input type="checkbox" id="demo-switch-to-pills" name="checkbox-toggle" ng-click="vm.searchSummaryVisible = !vm.searchSummaryVisible">
                            <i data-swchon-text="ON" data-swchoff-text="OFF"></i> Summary Report
                        </label>
                    </div>
                </header>
                <div>
                    <div class="widget-body no-padding" ng-show="vm.searchSummaryVisible">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-4 margin-top-5 margin-bottom-5">
                                    <div class="text-right col-xs-6">Brand</div>
                                    <div class="col-xs-6">Samsung</div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 margin-top-5 margin-bottom-5">
                                    <div class="text-right col-xs-6">Product name</div>
                                    <div class="col-xs-6">Samsung S7</div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 margin-top-5 margin-bottom-5">
                                    <div class="text-right col-xs-6">Country</div>
                                    <div class="col-xs-6">UAE</div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 margin-top-5 margin-bottom-5">
                                    <div class="text-right col-xs-6">Period</div>
                                    <div class="col-xs-6">3/2017-30/03/2017</div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 margin-top-5 margin-bottom-5">
                                    <div class="text-right col-xs-6">Total Displayed meduir</div>
                                    <div class="col-xs-6">203</div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 margin-top-5 margin-bottom-5">
                                    <div class="text-right col-xs-6">Newspapers</div>
                                    <div class="col-xs-6">20</div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 margin-top-5 margin-bottom-5">
                                    <div class="text-right col-xs-6">Magazines</div>
                                    <div class="col-xs-6">10</div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 margin-top-5 margin-bottom-5">
                                    <div class="text-right col-xs-6">Television</div>
                                    <div class="col-xs-6">60</div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 margin-top-5 margin-bottom-5">
                                    <div class="text-right col-xs-6">Radio</div>
                                    <div class="col-xs-6">70</div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 margin-top-5 margin-bottom-5">
                                    <div class="text-right col-xs-6">Web</div>
                                    <div class="col-xs-6">33</div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 margin-top-5 margin-bottom-5">
                                    <div class="text-right col-xs-6">Facebook</div>
                                    <div class="col-xs-6">4</div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 margin-top-5 margin-bottom-5">
                                    <div class="text-right col-xs-6 ">Twitter</div>
                                    <div class="col-xs-6">6</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div jarvis-widget
                 ng-repeat="media in vm.medias track by $index"
                 id="standard-datatable-widget{{$index}}"
                 data-widget-color="orange"
                 data-widget-editbutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>{{media.title}}</h2>
                    <img class="media-logo" ng-src="{{media.image}}">
                </header>
                <div>
                    <div class="widget-body no-padding">
                        <table datatable dt-options="vm.standardOptions" dt-columns="vm.standardColumns" class="table table-striped table-bordered table-hover" width="100%">
                            <thead>
                            <tr>
                                <th class="title-in-table">Newspapers</th>
                                <th>Country</th>
                                <th>Language</th>
                                <th>Date</th>
                                <th>Circulation</th>
                                <th>NP subject Matter</th>
                                <th>No of Ads</th>
                                <th>Ad NP Section</th>
                                <th>AD Location</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-bottom-20">
        <div class="col-xs-12 text-center">
            <button class="btn btn-primary margin-left-20">Complete Landscape CSV Report</button>
        </div>
    </div>
</div>