<div class="container-fluid">
    <section id="widget-grid-cross-bios" widget-grid>
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div jarvis-widget data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Google+ Introduction</h2>
                        <div class="btn-group btn-group-xs dropdown float-right margin-top-5 margin-right-80" data-dropdown>
                            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Export <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href-void>Download a CSV</a>
                                    <a href-void>Download a PNG</a>
                                    <a href-void>Download a PDF</a>
                                    <a href-void>Email as PPT</a>
                                </li>
                            </ul>
                        </div>
                    </header>
                    <div>
                        <div class="widget-body">
                            <table class="table table-responsive">
                                <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Company</th>
                                    <th>Google+ Introduction</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="r in [1,1,1] track by $index">
                                    <td>
                                        <img ng-src="./styles/img/temp/1.jpg">
                                    </td>
                                    <td>
                                        <h4>Shopify</h4>
                                    </td>
                                    <td>
                                        <p>Shopify offers a professional online storefront, a payment solution to accept credit cards, and the Shopify POS application to power retail sales.</p>
                                        <p>Shopify currently powers over 160,000 retailers in 100 different countries, including: Tesla Motors, Gatorade, Forbes, Amnesty International, Encyclopedia Britannica, Maxim Magazine, CrossFit, and many more, Shopify was founded in 2006</p>
                                        <p>Our Theme Store offers the best free and premium ecommerce templates to ensure your online store looks as good as your products.</p>
                                        <p>Shopify Experts is the best resource for finding ecommerce developers, designers, marketers and photographers to help launch or grow your online store. </p>
                                        <p>The Shopify App Store has over 200 free and paid Apps to expand the functionality of your online store.</p>
                                        <p><b>Over 160,000</b> store owners trust Shopify to run their business.</p>
                                        <p>Get started with our free 14 day trial!</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>    </section>

</div>