<div class="container-fluid">
    <section id="widget-grid-cross-channels-my-ranking" widget-grid>
        <div class="row padding-top-10">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div jarvis-widget data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Social Media Tool</h2>
                    </header>
                    <div>
                        <div class="widget-body" style="min-height: inherit;">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-1"></div>
                                    <div class="col-xs-2" ng-repeat="m in vm.medias">
                                        <div class="text-center">
                                            <div>{{m.title}}</div>
                                            <div>
                                                <h1>{{($index + 2) * 3}}K <span class="h6">+0.133%</span></h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>

        <div class="row margin-bottom-20 form-horizontal">
            <div class="col-xs-1">
                <div class="form-group">
                    <label class="col-md-2 control-label" for="sel1">Company</label>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                    <div class="col-md-10">
                        <select class="form-control" id="sel1">
                            <option>Djezzy</option>
                            <option>Djezzy</option>
                            <option>Djezzy</option>
                            <option>Djezzy</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="form-group smart-form">
                    <label class="col-md-2 control-label" for="sel1">Dates</label>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="form-group smart-form">
                    <div class="input-group">
                        <input type="text" name="mydate" placeholder="Select a date" class="form-control datepicker" data-smart-datepicker options="datepickerOptions" data-date-format="dd/mm/yy">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div jarvis-widget data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Social Channels</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <table class="table table-responsive table-text-center">
                                            <thead>
                                            <tr>
                                                <th>
                                                    <h4 class="font-bold">Social Media {{vm.sortChannelReverse}}</h4>
                                                </th>
                                                <th class="cursor-pointer" ng-click="vm.sortChannelType = 'audience'; vm.sortChannelReverse = !vm.sortChannelReverse">
                                                    <h4 class="font-bold">Audience</h4>
                                                    <span ng-show="vm.sortChannelType == 'audience'" class="fa fa-caret-{{vm.sortChannelReverse ? 'down' : 'up'}}"></span>
                                                </th>
                                                <th class="cursor-pointer" ng-click="vm.sortChannelType = 'activity'; vm.sortChannelReverse = !vm.sortChannelReverse">
                                                    <h4 class="font-bold">Activity</h4>
                                                    <span ng-show="vm.sortChannelType == 'activity'" class="fa fa-caret-{{vm.sortChannelReverse ? 'down' : 'up'}}"></span>
                                                </th>
                                                <th class="cursor-pointer" ng-click="vm.sortChannelType = 'engagement'; vm.sortChannelReverse = !vm.sortChannelReverse">
                                                    <h4 class="font-bold">Engagement</h4>
                                                    <span ng-show="vm.sortChannelType == 'engagement'" class="fa fa-caret-{{vm.sortChannelReverse ? 'down' : 'up'}}"></span>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="media in vm.medias | orderBy:vm.sortChannelType:vm.sortChannelReverse">
                                                <td class="text-left"><i class="fa fa-{{media.icon}}"></i> {{media.title}}</td>
                                                <td>
                                                    <h4 class="font-bold">{{media.audience}}
                                                        <i class="fa fa-long-arrow-up text-green" ng-if="media.audience >= media.pre_audience"></i>
                                                        <i class="fa fa-long-arrow-down text-red" ng-if="media.audience < media.pre_audience"></i>
                                                    </h4>
                                                </td>
                                                <td>
                                                    <h4 class="font-bold">{{media.activity}}
                                                        <i class="fa fa-long-arrow-up text-green" ng-if="media.activity >= media.pre_activity"></i>
                                                        <i class="fa fa-long-arrow-down text-red" ng-if="media.activity < media.pre_activity"></i>
                                                    </h4>
                                                </td>
                                                <td>
                                                    <h4 class="font-bold">{{media.engagement}}
                                                        <i class="fa fa-long-arrow-up text-green" ng-if="media.engagement >= media.pre_engagement"></i>
                                                        <i class="fa fa-long-arrow-down text-red" ng-if="media.engagement < media.pre_engagement"></i>
                                                    </h4>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <ul id="crossChannelTab" class="nav nav-tabs bordered">
                                            <li ng-repeat="(paneId, pane) in vm.statData" class="{{pane.active}}" ng-click="vm.currTab = paneId">
                                                <a href="#{{paneId}}_pane" data-toggle="tab">{{pane.title}}</a>
                                            </li>
                                        </ul>

                                        <div class="tab-content padding-10">
                                            <div class="tab-pane fade{{pane.active == 'active' ? ' in active' : ''}}" ng-repeat="(paneId, pane) in vm.statData" id="{{paneId}}_pane">
                                                <table class="table table-responsive table-text-center">
                                                    <thead>
                                                    <tr>
                                                        <th>Sources</th>
                                                        <th></th>
                                                        <th class="cursor-pointer" ng-click="vm.columnClick('amount')">
                                                            Total {{pane.title}}
                                                            <span ng-show="vm.sortType == 'total_amount'" class="fa fa-caret-{{vm.sortReverse ? 'down' : 'up'}}"></span>
                                                        </th>
                                                        <th class="cursor-pointer" ng-click="vm.columnClick('change')">
                                                            Change
                                                            <span ng-show="vm.sortType == 'total_change'" class="fa fa-caret-{{vm.sortReverse ? 'down' : 'up'}}"></span>
                                                        </th>
                                                        <th class="cursor-pointer" ng-click="vm.columnClick('growth')">
                                                            Growth(%)
                                                            <span ng-show="vm.sortType == 'total_growth'" class="fa fa-caret-{{vm.sortReverse ? 'down' : 'up'}}"></span>
                                                        </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="row in vm.statData[vm.currTab].data | orderBy:vm.sortType:vm.sortReverse"
                                                        class="height-70"
                                                        ng-class="{'text-grey':row.visible}">
                                                        <td class="text-left vertical-middle">
                                                            <a class="cursor-pointer" ng-class="{'text-grey':row.visible}" ng-click="row.visible = !row.visible">
                                                                <i class="fa fa-eye{{row.visible ? '-slash' : ''}}"></i> {{row.company}}
                                                            </a>
                                                        </td>
                                                        <td class="vertical-middle padding-0 col-xs-8" style="padding:0;">
                                                            <div highchart data="row.chart" ng-if="!row.visible"></div>
                                                        </td>
                                                        <td class="vertical-middle">
                                                            <h4>{{row.total_amount}}</h4>
                                                        </td>
                                                        <td class="vertical-middle {{row.total_change > 0 ? 'text-green' : 'text-red'}}">
                                                            <h4 ng-class="{'text-grey':row.visible}">
                                                                <span ng-if="row.total_change > 0">+</span>{{row.total_change}}
                                                            </h4>
                                                        </td>
                                                        <td class="vertical-middle {{row.total_growth > 0 ? 'text-green' : 'text-red'}}">
                                                            <h4 ng-class="{'text-grey':row.visible}">
                                                                <span ng-if="row.total_growth > 0">+</span>{{row.total_growth}}
                                                            </h4>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>