<div class="container-fluid">
    <section id="widget-grid-cross-channels-my-ranking" widget-grid>
        <div class="row padding-top-10">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div jarvis-widget data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Social Media Tool</h2>
                    </header>
                    <div>
                        <div class="widget-body" style="min-height: inherit;">
                            <div class="show-stat-microcharts" data-sparkline-container data-easy-pie-chart-container>
                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">

                                    <div class="easy-pie-chart txt-color-orangeDark" data-percent="33" data-pie-size="50">
                                        <span class="percent percent-sign">35</span>
                                    </div>
                                    <span class="easy-pie-title"> Facebook <i class="fa fa-caret-up icon-color-bad"></i> </span>
                                    <ul class="smaller-stat hidden-sm pull-right">
                                        <li>
                                            <span class="label bg-color-greenLight"><i class="fa fa-caret-up"></i> 97%</span>
                                        </li>
                                        <li>
                                            <span class="label bg-color-blueLight"><i class="fa fa-caret-down"></i> 44%</span>
                                        </li>
                                    </ul>
                                    <div class="sparkline txt-color-greenLight hidden-sm hidden-md pull-right"
                                         data-sparkline-type="line" data-sparkline-height="33px" data-sparkline-width="70px"
                                         data-fill-color="transparent">
                                        130, 187, 250, 257, 200, 210, 300, 270, 363, 247, 270, 363, 247
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                    <div class="easy-pie-chart txt-color-greenLight" data-percent="78.9" data-pie-size="50">
                                        <span class="percent percent-sign">78.9 </span>
                                    </div>
                                    <span class="easy-pie-title"> Twitter <i class="fa fa-caret-down icon-color-good"></i></span>
                                    <ul class="smaller-stat hidden-sm pull-right">
                                        <li>
                                            <span class="label bg-color-blueDark"><i class="fa fa-caret-up"></i> 76%</span>
                                        </li>
                                        <li>
                                            <span class="label bg-color-blue"><i class="fa fa-caret-down"></i> 3%</span>
                                        </li>
                                    </ul>
                                    <div class="sparkline txt-color-blue hidden-sm hidden-md pull-right" data-sparkline-type="line"
                                         data-sparkline-height="33px" data-sparkline-width="70px" data-fill-color="transparent">
                                        257, 200, 210, 300, 270, 363, 130, 187, 250, 247, 270, 363, 247
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                    <div class="easy-pie-chart txt-color-blue" data-percent="23" data-pie-size="50">
                                        <span class="percent percent-sign">23 </span>
                                    </div>
                                    <span class="easy-pie-title"> Google+ <i class="fa fa-caret-up icon-color-good"></i></span>
                                    <ul class="smaller-stat hidden-sm pull-right">
                                        <li>
                                            <span class="label bg-color-darken">10GB</span>
                                        </li>
                                        <li>
                                            <span class="label bg-color-blueDark"><i class="fa fa-caret-up"></i> 10%</span>
                                        </li>
                                    </ul>
                                    <div class="sparkline txt-color-darken hidden-sm hidden-md pull-right"
                                         data-sparkline-type="line" data-sparkline-height="33px" data-sparkline-width="70px"
                                         data-fill-color="transparent">
                                        200, 210, 363, 247, 300, 270, 130, 187, 250, 257, 363, 247, 270
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                    <div class="easy-pie-chart txt-color-darken" data-percent="36" data-pie-size="50">
                                        <span class="percent degree-sign">36 <i class="fa fa-caret-up"></i></span>
                                    </div>
                                    <span class="easy-pie-title"> Instagram <i
                                            class="fa fa-caret-down icon-color-good"></i></span>
                                    <ul class="smaller-stat hidden-sm pull-right">
                                        <li>
                                            <span class="label bg-color-red"><i class="fa fa-caret-up"></i> 124</span>
                                        </li>
                                        <li>
                                            <span class="label bg-color-blue"><i class="fa fa-caret-down"></i> 40 F</span>
                                        </li>
                                    </ul>
                                    <div class="sparkline txt-color-red hidden-sm hidden-md pull-right" data-sparkline-type="line"
                                         data-sparkline-height="33px" data-sparkline-width="70px" data-fill-color="transparent">
                                        2700, 3631, 2471, 2700, 3631, 2471, 1300, 1877, 2500, 2577, 2000, 2100, 3000
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid hide">
                                <div class="row">
                                    <div class="col-xs-1"></div>
                                    <div class="col-xs-2" ng-repeat="m in vm.medias">
                                        <div class="text-center">
                                            <div>{{m.title}}</div>
                                            <div>
                                                <h1>{{($index + 2) * 3}}K <span class="h6">+0.133%</span></h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>

        <div class="row margin-bottom-20 form-horizontal">
            <div class="col-xs-1">
                <div class="form-group">
                    <label class="col-md-2 control-label" for="sel1">Company</label>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                    <div class="col-md-10">
                        <select class="form-control" id="sel1">
                            <option>Djezzy</option>
                            <option>Djezzy</option>
                            <option>Djezzy</option>
                            <option>Djezzy</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="form-group smart-form">
                    <label class="col-md-2 control-label" for="sel1">Dates</label>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="form-group smart-form">
                    <div class="input-group">
                        <input type="text" name="mydate" placeholder="Select a date" class="form-control datepicker" data-smart-datepicker options="datepickerOptions" data-date-format="dd/mm/yy">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div jarvis-widget data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Social Channels</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <table class="table table-responsive table-text-center">
                                            <thead>
                                            <tr>
                                                <th>
                                                    <h4 class="font-bold">Social Media {{vm.sortChannelReverse}}</h4>
                                                </th>
                                                <th class="cursor-pointer" ng-click="vm.sortChannelType = 'audience'; vm.sortChannelReverse = !vm.sortChannelReverse">
                                                    <h4 class="font-bold">Audience
                                                        <span ng-show="vm.sortChannelType == 'audience'" class="fa fa-caret-{{vm.sortChannelReverse ? 'down' : 'up'}}"></span>
                                                    </h4>
                                                </th>
                                                <th class="cursor-pointer" ng-click="vm.sortChannelType = 'activity'; vm.sortChannelReverse = !vm.sortChannelReverse">
                                                    <h4 class="font-bold">Activity
                                                        <span ng-show="vm.sortChannelType == 'activity'" class="fa fa-caret-{{vm.sortChannelReverse ? 'down' : 'up'}}"></span>
                                                    </h4>
                                                </th>
                                                <th class="cursor-pointer" ng-click="vm.sortChannelType = 'engagement'; vm.sortChannelReverse = !vm.sortChannelReverse">
                                                    <h4 class="font-bold">Engagement
                                                        <span ng-show="vm.sortChannelType == 'engagement'" class="fa fa-caret-{{vm.sortChannelReverse ? 'down' : 'up'}}"></span>
                                                    </h4>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="media in vm.medias | orderBy:vm.sortChannelType:vm.sortChannelReverse">
                                                <td class="text-left">
                                                    <div class="progress progress-lg margin-0 opacity-02">
                                                        <div class="progress-bar" role="progressbar" style="width: {{media.activity/20 * 100}}%"></div>
                                                    </div>
                                                    <div class="td-on-chart">
                                                        <img class="width-30" ng-src="./styles/img/temp/icons/{{media.icon}}">
                                                        {{media.title}}
                                                    </div>
                                                </td>
                                                <td class="text-right">
                                                    <h4 class="font-bold">{{media.audience|number}}
                                                        <i class="fa fa-long-arrow-up text-green" ng-if="media.audience >= media.pre_audience"></i>
                                                        <i class="fa fa-long-arrow-down text-red" ng-if="media.audience < media.pre_audience"></i>
                                                    </h4>
                                                </td>
                                                <td class="text-right">
                                                    <h4 class="font-bold">{{media.activity|number}}
                                                        <i class="fa fa-long-arrow-up text-green" ng-if="media.activity >= media.pre_activity"></i>
                                                        <i class="fa fa-long-arrow-down text-red" ng-if="media.activity < media.pre_activity"></i>
                                                    </h4>
                                                </td>
                                                <td class="text-right">
                                                    <h4 class="font-bold">{{media.engagement|number}}
                                                        <i class="fa fa-long-arrow-up text-green" ng-if="media.engagement >= media.pre_engagement"></i>
                                                        <i class="fa fa-long-arrow-down text-red" ng-if="media.engagement < media.pre_engagement"></i>
                                                    </h4>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <ul id="crossChannelTab" class="nav nav-tabs bordered">
                                            <li ng-repeat="(paneId, pane) in vm.statData" class="{{pane.active}}" ng-click="vm.currTab = paneId">
                                                <a href="#{{paneId}}_pane" data-toggle="tab">{{pane.title}}</a>
                                            </li>
                                        </ul>

                                        <div class="tab-content padding-10">
                                            <div class="tab-pane fade{{pane.active == 'active' ? ' in active' : ''}}" ng-repeat="(paneId, pane) in vm.statData" id="{{paneId}}_pane">
                                                <table class="table table-responsive table-text-center">
                                                    <thead>
                                                    <tr>
                                                        <th>Sources</th>
                                                        <th></th>
                                                        <th class="cursor-pointer" ng-click="vm.columnClick('amount')">
                                                            Total {{pane.title}}
                                                            <span ng-show="vm.sortType == 'total_amount'" class="fa fa-caret-{{vm.sortReverse ? 'down' : 'up'}}"></span>
                                                        </th>
                                                        <th class="cursor-pointer" ng-click="vm.columnClick('change')">
                                                            Change
                                                            <span ng-show="vm.sortType == 'total_change'" class="fa fa-caret-{{vm.sortReverse ? 'down' : 'up'}}"></span>
                                                        </th>
                                                        <th class="cursor-pointer" ng-click="vm.columnClick('growth')">
                                                            Growth(%)
                                                            <span ng-show="vm.sortType == 'total_growth'" class="fa fa-caret-{{vm.sortReverse ? 'down' : 'up'}}"></span>
                                                        </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="row in vm.statData[vm.currTab].data | orderBy:vm.sortType:vm.sortReverse"
                                                        class="height-70"
                                                        ng-class="{'text-grey':row.visible}">
                                                        <td class="text-left vertical-middle">
                                                            <a class="cursor-pointer" ng-class="{'text-grey':row.visible}" ng-click="row.visible = !row.visible">
                                                                <i class="fa fa-eye{{row.visible ? '-slash' : ''}}"></i> {{row.company}}
                                                            </a>
                                                        </td>
                                                        <td class="vertical-middle padding-0 col-xs-8" style="padding:0;">
                                                            <div highchart data="row.chart" ng-if="!row.visible"></div>
                                                        </td>
                                                        <td class="vertical-middle text-right">
                                                            <h4>{{row.total_amount|number}}</h4>
                                                        </td>
                                                        <td class="vertical-middle text-right {{row.total_change > 0 ? 'text-green' : 'text-red'}}">
                                                            <h4 ng-class="{'text-grey':row.visible}">
                                                                <span ng-if="row.total_change > 0">+</span>{{row.total_change|number}}
                                                            </h4>
                                                        </td>
                                                        <td class="vertical-middle text-right {{row.total_growth > 0 ? 'text-green' : 'text-red'}}">
                                                            <h4 ng-class="{'text-grey':row.visible}">
                                                                <span ng-if="row.total_growth > 0">+</span>{{row.total_growth|number}}
                                                            </h4>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>