<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div jarvis-widget data-widget-editbutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                    <h2>Top Mentions by Company</h2>
                </header>
                <div>
                    <div class="widget-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12">
                                    <table class="table table-responsive">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th>Mentioners</th>
                                            <th>Top Mentions</th>
                                            <th>Potential Reach</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="i in [1,1,1,1,1,1] track by $index">
                                            <td><img ng-src="./styles/img/temp/1.jpg"></td>
                                            <td>
                                                <p>Postmates @postmates</p>
                                                <p>33,102 followers</p>
                                                <p>See metions</p>
                                            </td>
                                            <td>1,044</td>
                                            <td>1,332 <i class="fa fa-calendar"></i></td>
                                            <td>13,851,707</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>