<div class="container-fluid">
    <section id="widget-grid-twitter-overview" widget-grid>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div jarvis-widget data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Followers</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-5">
                                        <p><i class="fa fa-like"></i> Eat24 is below average for Social Audience, ranking 3rd of 6 companies in your landscape. GrubHub leads with an audience of 1,091,311</p>
                                        <p><i class="fa fa-like"></i> Eat24 is below average for Social Audience growth, ranking 4th of 5 companies in your landscape.</p>
                                        <div>
                                            <button class="btn btn-primary">Additional Social Audience Metrics</button>
                                            <!--<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">View All</button>-->
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-7">
                                        <div highchart data="vm.data1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div jarvis-widget data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Activity & Engagement</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4">
                                        <p><i class="fa fa-like"></i> Eat24 was the landscape leader for Total Social Activity. ranking 1st of 6.</p>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <div highchart data="vm.data2"></div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <div highchart data="vm.data2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
