<div class="container-fluid">
    <div class="row margin-bottom-20">
        <div class="col-xs-2">
            <a href-void="" ng-click="vm.go('crossChannels.socialPosts')">
                <h4>
                    <i class="fa fa-arrow-circle-left"></i> Dashboard
                </h4>
            </a>
        </div>
        <div class="col-xs-3">
            <div class="smart-form">
                <label class="input"> <i class="icon-append fa fa-search"></i>
                    <input type="text" placeholder="">
                    <b class="tooltip tooltip-bottom-right">
                        <i class="fa fa-search txt-color-teal"></i>
                        Search
                    </b>
                </label>
            </div>
            <div>Analyzing 72 matching posts</div>
        </div>
        <div class="col-xs-2">
            <div class="btn-group dropdown" data-dropdown>
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    All Media <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href-void>All Media (77)</a>
                        <a href-void>Photo (57)</a>
                        <a href-void>Link (19)</a>
                        <a href-void>Video (1)</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-5 text-right">
            <export-button></export-button>
        </div>
    </div>
    <section id="widget-grid-cross-top" widget-grid>
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div jarvis-widget data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" role="widget">
                    <header>
                        <h2>Activity & Engagement</h2>
                        <div class="widget-toolbar hidden-phone" role="menu">
                        </div>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <p>YOUR POSTS IN PERIOD</p>
                                                    <h1>15</h1>
                                                    <p>Landscape Avg: 27.7</p>
                                                </div>
                                                <div class="col-xs-6">
                                                    <p>YOUR ENG. RATE / POST</p>
                                                    <h1>0.031%</h1>
                                                    <p>Landscape Avg: 0.031%</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <table class="table table-response">
                                                        <thead>
                                                        <tr>
                                                            <th colspan="2">Company</th>
                                                            <th>Posts</th>
                                                            <th>Posts / Day</th>
                                                            <th>Eng. Total</th>
                                                            <th colspan="2">Eng. Rate / Post</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="i in ['Mobilis', 'Ooredoo', 'DJEZZY'] track by $index">
                                                            <td class="col-xs-1"><img class="width-30 margin-top-15" ng-src="./styles/img/temp/01.png"></td>
                                                            <td class="col-xs-4"><a class="cursor-pointer">{{$index + 1}}. {{i}}</a></td>
                                                            <td class="col-xs-1"><div class="text-center" data-tooltip-placement="top" data-smart-tooltip-html="<div>Posts</div><br/><h3>10</h3>">21</div></td>
                                                            <td class="col-xs-1"><div class="text-center" data-tooltip-placement="top" data-smart-tooltip-html="<div>Posts / Day</div><br/><h3>1.86</h3>">1.86</div></td>
                                                            <td class="col-xs-1"><div class="text-center" data-tooltip-placement="top" data-smart-tooltip-html="<div>Eng. Total</div><br/><h3>34.2k</h3>">34.2k</div></td>
                                                            <td class="col-xs-4">
                                                                <div class="progress progress-sm" data-tooltip-placement="top" data-smart-tooltip-html="<div>Eng. Rate / Post</div><br/><h3>{{0.04 * ($index + 1)}}%</h3>">
                                                                    <div class="progress-bar bg-color-blue" role="progressbar" style="width: {{($index + 1) * 20}}%;"></div>
                                                                </div>
                                                            </td>
                                                            <td class="col-xs-2"><div class="text-center" data-tooltip-placement="top" data-smart-tooltip-html="<div>Eng. Rate / Post</div><br/><h3>{{0.04 * ($index + 1)}}%</h3>">{{0.04 * ($index + 1)}}%</div></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
