<div class="container-fluid">
    <section id="widget-grid-youtube-metric" widget-grid>

        <!-- row -->
        <div class="row">
            <article class="col-xs-12">
                <div jarvis-widget data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <a href="javascript:return;"><i class="fa fa-star-o"></i></a> </span>
                        <h2>YouTube Subscribers</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div highchart id="container1" data="vm.data11"></div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="row">
            <article class="col-xs-12">
                <div jarvis-widget data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <a href="javascript:return;"><i class="fa fa-star-o"></i></a> </span>
                        <h2>YouTube Average Engagement Total per Post</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div highchart id="container2" data="vm.data11"></div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="row">
            <article class="col-xs-12">
                <div jarvis-widget data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <a href="javascript:return;"><i class="fa fa-star-o"></i></a> </span>
                        <h2>YouTube Posts</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div highchart id="container3" data="vm.data11"></div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>